<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PersonnelTracking.DAL.Properties.Settings.PERSONEL_TRACKINGConnectionString"
            connectionString="Data Source=MANASI\SQLEXPRESS;Initial Catalog=PERSONEL_TRACKING;Integrated Security=True;Encrypt=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>